body {
            background-color: lightgreen;
        }

        h1 {
            color: blue; font-family: courier;
        }

        p {
            color: red; font-size: 30px;
        }
    </style>


